{
  "presets": [
    // Transpile React components to JavaScript
    "react",

    // Automatically determines the Babel plugins you need based on your supported environments
    ["env", { "modules": false }]
  ],
  "plugins": [
    // Draft features not yet part of release spec
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "development": {
      "plugins": [
        // Enables React code to work with HMR.
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "presets": ["react", "env"]
    }
  }
}
