target/
classes/
bin/
node_modules/
test-output/

.classpath
.settings
.project

*.iml
*.ipr
*.iws
.idea
.vscode
atlassian-ide-plugin.xml

pom.xml.versionsBackup
.DS_Store
temp-testng-customsuite.xml
test-output
.externalToolBuilders
*~
hs_err*
hotspot.log
*.orig

rebel.xml
