<div>
  <h2 class="extra-large">Git flow</h2>
  <h4 class="section"><i class="fa fa-star"></i>  Git flow </h4>
  <div class="section-details">
    <ul>
      <li>Feature branch </li>
      <li>Bugfix branch </li>
      <li>Release branch </li>
      <li>hotfixes branch </li>
    </ul>
  </div>
  <h4 class="section"><i class="fa fa-star"></i>   GUI vs Commands?</h4>
  <div class="section-details">
    <ul>
      <li>Use source tree GUI <a href='https://medium.com/@budioktaviyans/how-to-make-a-git-flow-using-sourcetree-20ab77fe6813' target="_blank">Source Tree Git Flow</a></li>
      <li>Use command line: <a href='https://c-scope.atlassian.net/wiki/spaces/CC/pages/23461911/Git+Workflow' target="_blank">Git Flow Commands</a> </li>
      <li>Use raw git command: git checkout -b feature/CC-9999 </li>
    </ul>
  </div>
  <h3 class="section"><i class="fa fa-star"></i>   Git tips</h3>
  1.Set alias:
  <pre>
      <code>
        git config --global alias.co checkout
        git config --global alias.br branch
        git config --global alias.ci commit
        git config --global alias.st status
      </code>
  </pre>
  2.Squash commits from last N commits and push to remote
  <pre>
      <code>
        git reset --soft HEAD^N
        git commit -m"[CC-9999]:Raghul, this is a feature, not a bug"
        git push --force
      </code>
  </pre>
  3.Get commit based on message
  <pre>
      <code>
        git log --grep=".. any text you need to find ..."
      </code>
  </pre>
  <h3 class="section"><i class="fa fa-star"></i>Wiki link: </h3>
  <a href='https://c-scope.atlassian.net/wiki/spaces/CC/pages/23461911/Git+Workflow' target="_blank">Git Flow</a>
</div>
  