
<!DOCTYPE html>
<html>
<head><title>Sample View</title></head>
<body>
<h1>@ViewBag.Message</h1>
<p>
    This is a sample view. It’s not much to look at, 
    but it gets the job done.
</p>
<p>
    This is in a file named <strong>Index.cshtml</strong> within the <strong>~/Views/Example</strong> directory.
</p>
</body>
</html>
