<div>
    <h2 class="extra-large">Functional Programming</h2>
    <h3 class="section"><i class="fa fa-star"></i>What is functional programming?</h3>
    <ul>
      <li><h4>Functional programming is, at its most basic, a way of thinking that places an emphasis on using functions</h4></li>
      <li><h4>It's not a matter of just applying functions to come up with a result, the goal is to compose everything.</h4></li>
      <li><h4>Functional programming is about decomposing your programs into tiny reuseable functions that can be "composed" together to provide the specific functionality needed.</h4></li>
    </ul>
    <h3 class="section"><i class="fa fa-star"></i> Thinking functionally</h3>
    <ul>
      <li>Extensible</li>
      <li>Modular</li>
      <li>Re-usable</li>
    </ul>
    <h3 class="section"><i class="fa fa-star"></i>Let's look at following example:</h3>
    <h3>Take a list of intergers</h3>
    <ul>
      <li>1. Add one to each value</li>
      <li>2. Times each value by 10</li>
      <li>3. Divide each value by 2</li>
    </ul>
    <h3 class="section"><i class="fa fa-star"></i>Use for loop:</h3>
    <pre>
        <code>
          const myList = [1,2,3,4,5];

          for (var i = 0; i < myList.length; i++) {{ '{' }}
            myList[i] += 1;
            myList[i] *= 10;
            myList[i] /= 2;
         {{ '}' }}
        </code>
    </pre>

    <h3 class="section"><i class="fa fa-star"></i>wrap it into a function</h3>
    <pre>
        <code>
          const myList = [1,2,3,4,5];

          const mapAddOneTimesTenDivideByTwo = list =>
            list.map(x=>
              ((x + 1) * 10 / 2)
            )
          
          mapAddOneTimesTenDivideByTwo(myList);
        </code>
    </pre>


    <h3 class="section"><i class="fa fa-star"></i>Let's refactor to functional:</h3>
    <pre>
        <code>
          const myList = [1,2,3,4,5];

          // declare pure functions:

          const adOne = x => x + 1;
          const timesTen = x => x * 10;
          const divideByTwo = x => x / 2;


          // More Ramda fun

          const mapAddOneTimesTenDivideByTwo = 
            map(
              compose(
                divideByTwo,
                timesTen,
                adOne
              )
            )
         
        </code>
    </pre>

    <h3 class="section"><i class="fa fa-star"></i>You don't need Lodash and Understore!!!</h3>
  </div>
