<div class="container">
    <div class="row">
        <div class="navigation navigation-prev" (click)="incrementClickHandler()">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="navigation navigation-next" (click)="decrementClickHandler()">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
    </div>
    <div class="row">
        <div class="slide" *ngIf="currentSlide$  | async as currentSlide">
            <app-intro  *ngIf="currentSlide == 'INTRO'"></app-intro>
            <app-frameworks *ngIf="currentSlide == 'FRAMEWORK'"></app-frameworks>
            <app-git *ngIf="currentSlide == 'GIT'"></app-git>
            <app-lint *ngIf="currentSlide == 'LINT'"></app-lint>
            <app-fp *ngIf="currentSlide == 'FP'"></app-fp>
            <app-codereview *ngIf="currentSlide == 'CODE_REVIEW'"></app-codereview>
            <app-nogood *ngIf="currentSlide == 'NOT_GOOD'"></app-nogood>
        </div>
    </div>
</div>
