<div>
  <h1></h1>
  <div>
    <div>
      <h2>Improve your CJA Front-end Dev experience</h2>
      <h3 class="section"><i class="fa fa-star"></i>   1. Git flow</h3>
      <h3 class="section"><i class="fa fa-star"></i>   2. Raise a Merge request</h3>
      <h3 class="section"><i class="fa fa-star"></i>   3. Work through current CC-frontend</h3>
      <h3 class="section"><i class="fa fa-star"></i>   4. Linting tools (Eslint -- One coding style rule for all)</h3>
      <h3 class="section"><i class="fa fa-star"></i>   5. Functional Programming (Ramda -- Code more readable)</h3>
      <h3 class="section"><i class="fa fa-star"></i>   6. State management (Redux -- Single source of truth)</h3>
      <h3 class="section"><i class="fa fa-star"></i>   7. Angular Upgrade Plan (Angular5 -- Next generation of Angular)</h3>
  </div>
</div>
